<?xml version="1.0"?>
<config>
    <modules>
        <CoffeeBytes_MageFlat>
            <version>1.0.0</version>
        </CoffeeBytes_MageFlat>
    </modules>
    <global>
        <blocks>
            <coffeebytes_mageflat>
                <class>CoffeeBytes_MageFlat_Block</class>
            </coffeebytes_mageflat>
        </blocks>
        <helpers>
            <coffeebytes_mageflat>
                <class>CoffeeBytes_MageFlat_Helper</class>
            </coffeebytes_mageflat>
        </helpers>
        <models>
            <coffeebytes_mageflat>
                <class>CoffeeBytes_MageFlat_Model</class>
            </coffeebytes_mageflat>
        </models>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <coffeebytes_mageflat_admin_predispatch>
                        <class>CoffeeBytes_MageFlat_Model_Adminhtml_Observer</class>
                        <method>setTheme</method>
                    </coffeebytes_mageflat_admin_predispatch>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <coffeebytes_mageflat before="Mage_Adminhtml">CoffeeBytes_MageFlat_Adminhtml</coffeebytes_mageflat>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <coffeebytes_mageflat>
                    <file>mageflat/admintheme.xml</file>
                </coffeebytes_mageflat>
            </updates>
        </layout>
        <translate>
            <modules>
                <CoffeeBytes_MageFlat>
                    <files>
                        <default>CoffeeBytes_MageFlat.csv</default>
                    </files>
                </CoffeeBytes_MageFlat>
            </modules>
        </translate>
        <themes>
            <default module="coffeebytes_mageflat">
                <label>Default</label>
            </default>
            <mageflat module="coffeebytes_mageflat">
                <label>MageFlat</label>
            </mageflat>

        </themes>
    </adminhtml>
    <default>
        <coffeebytes_mageflat>
            <config>
                <theme>magento2</theme>
            </config>
        </coffeebytes_mageflat>
    </default>
</config>
